<html lang="en">
<head>
  <style>
    html { scroll-behavior: smooth; }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gauge" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css">
  <link rel='stylesheet' href='../stylesheets/style.css'>
  <title>GeneMoji: Create an avatar based on your DNA</title>
</head>
<script src="https://api.23andme.com/res/js/ttam-0.3.js"></script>

<body>
<div class='everything'>
    <div class='first-section'>
    <img src="https://i.imgur.com/jmVMGti.png" class="title_img" alt="title_img" height="55" />
  </div>
  <div class='navs'>
    <p class='contactfont-black'> <a href='#howitworks'>HOW IT WORKS</a> &emsp; &emsp; <a href='/SNPslist'>DATA PULLED</a> &emsp; &emsp; <a href='#bottom'>CONTACT</a></p>
  </div>

  <div class='second-section'>
  </div>
  <div class='first-block'>
    <h4>Make a unique avatar based on your DNA</h4>

    <p style="text-align:center;"><img src="https://i.imgur.com/IONfpqM.png" alt='coverpic.png'></p>
    {{!-- <a href="https://api.23andme.com/authorize/?redirect_uri={{redirect_uri}}&response_type=code&client_id=8a7cf8a0c3d454902f6b793dc82cad80&scope=basic+names+report:all+genomes+ancestry+phenotypes:read:sex&select_profile=True rs123"><button class='button'>Connect with 23andMe</button></a> --}}
    <h6 style="text-align:center;">23andMe recently deprecated its API for developer use.<br> GeneMoji
      is currently being reconfigured to use raw text data<br>
      that is uploaded by the user instead.<br> Please check back later!
    </h6>
  </div>
  <div class='second-block' id='howitworks'>
    <h2>How It Works</h2>
  </div>
  <div class='left-second'>
    <img src="https://i.imgur.com/P1RCtWB.png" alt="some pic" class="scipic" height="400" />

  </div>
  <div class='right-second'>
    <p> &emsp; Once you've been sequenced by 23andMe, you can securely connect your account to GeneMoji. Relevant traits and genetic information are retrieved to generate an avatar that looks like you.
      Variations in your DNA called single nucleotide polymorphisms, or SNPs, are pulled and put through an algorithm to predict the most likely physical characteristic. Eye and skin color are predicted with the 8-plex system, while traits like hair color and the presence of freckles are
      determined by checking for common variants.
      <br/>
      <br/>
      &emsp; After you've connected your account, an avatar is rendered and the image (.png) is available for download.
      <br/>
      <br/>
      &emsp; GeneMoji uses genetic information from 23andMe and no data is stored. For a full list of sources used, permissions needed and traits and SNPs pulled by GeneMoji, click <b><a href='../SNPslist'>here.</a></b></p>
  </div>
  <div class='third-block'>
    <h2>Privacy Statement</h2>
    <p>GeneMoji uses sensitive and personal information. Data will not be stored or shared.</p>
  </div>
  <div class='bottom-block' id='bottom'>

  </div>
  <div class='left-bottom'>
    <p class='contactfont'><b>CONTACT</b></p>
    <p class='contactfont'>fpreim
    <!--<h2>vDc6uv@VWZkA1pFa2.com</h2>-->
    [at]
    <!---->
    ute<!--<h2>gACc0hYM2u9ydu8o</h2>-->xas<!--<h2>FLm1UadPf3No5sKf</h2>-->.edu
    <!---->
    </p>
    <div class='pics'>
    <a href="https://www.linkedin.com/in/freya-preimesberger-b1a0aa83/" target='_blank'><img class=" picc" src="https://image.flaticon.com/icons/svg/61/61109.svg" alt="linkedin"></a>
    <a href="https://github.com/fpreimesberger" target='_blank'><img class="picc" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="git"></a>
    <a href="https://twitter.com/freyapreim" target='_blank'><img class="picc" src="https://image.flaticon.com/icons/svg/8/8800.svg" alt="tweet"></a>
  </div>
</div>
  <div class='right-bottom'>
    <a href='#howitworks'><p class='contactfont'>HOW IT WORKS</p></a>
    <a href='#bottom'><p class='contactfont'>PRIVACY</p></a>
    <a href='/SNPslist'><p class='contactfont'>LIST OF DATA PULLED</p></a>
  </div>
</div>
</body>
</html>
