<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://i.imgur.com/Qg17fpF.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" type="text/css"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
