<!DOCTYPE html>
<html>
  <head>
    <!-- <title>{{title}}: Create an avatar based on your DNA</title> -->
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/medical_icon_set/256/tubes_no_shadow.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" type="text/css"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
