<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}: Create an avatar based on your DNA</title>
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/education-flat-7/128/24_DNA-512.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" type="text/css"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
