<form action="/login" method="post">
  <legend>Log in</legend>

  <div class="form-group">
    <label for="user-username">Username</label>
    <input type="text" name="username" class="form-control" id="user-username" placeholder="username">
  </div>

  <div class="form-group">
    <label for="user-password">Password</label>
    <input type="password" name="password" class="form-control" id="user-password" placeholder="password">
  </div>

  <div class="text-right">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
