<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gauge" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css">
  <link rel='stylesheet' href='../stylesheets/results_style.css'>
  <title>Your Avatar</title>
</head>

<body>
  <div class='everything'>
    <div class='first-block'>
      <h3>Results</h3>
    </div>

    <!-- host avatar; customize based on input-->
    <div class='second-block'>
      <p style="text-align:center;"><img src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairFrida&accessoriesType=Blank&facialHairType=Blank&clotheType=ShirtScoopNeck&clotheColor=Red&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'
/></p>
    </div>
    <div class='third-block'>
      <h4>Rendered with <b><a href='https://avataaars.com/' target='_blank'>Avataaars</h4></a></b>
    </div>
</div>
</body>
