<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gauge" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css">
  <link rel='stylesheet' href='../stylesheets/results_style.css'>
  <title>Your Avatar</title>
</head>

<body>
  <div class='everything'>
    <div class='first-block'>
      <h3>Results</h3>
    </div>

    <!-- host avatar -->
    <div class='second-block'>
    </div>
    
</div>
</body>
