<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gauge" type="text/css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css">
  <link rel='stylesheet' href='../stylesheets/default.css'>
  <title>Data Pulled</title>
</head>
</br>
<p><b>23andMe API Scopes</b></p>
<p>basic names email report:all genomes ancestry phenotypes:read:sex</p>
</br>
<p><b>Traits pulled</b></p>
<p>Account ID</p>
<p>Sex</p>
<p>Age</p>
<p>Ancestry</p>
<p>Predicted BMI</p>
</br>
<p><b>SNPs pulled</b></p>
<p>rs12913832</p>
<p>rs28777</p>
<p>rs1805007</p>
<p>rs1805008</p>
<p>rs11547464</p>
<p>rs35264875</p>
<p>rs1129038</p>
<p>rs7495174</p>
<p>rs4778138 ​</p>
<p>rs12913832</p>
<p>rs1015362</p>
<p>rs2153271 ​</p>
<p>rs17646946</p>
<p>rs7349332</p>
<p>rs11803731 ​</p>
</p>
</br>
<p><b>Sources</b></p>
<p>Söchtig, J., Phillips, C., Maroñas, O. et al. Exploration of SNP variants affecting hair colour prediction in Europeans. Int J Legal Med (2015) 129: 963. https://doi.org/10.1007/s00414-015-1226-y</p>


</br>
