<!-- delete this later!!! -->
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" type="text/css"/>
</head>
<div>
  Users Index
</div>

<ul>
  {{#each users as |user|}}
    <li>{{user.username}}</li>
  {{/each}}
</ul>
